html {
  --color-font: #fff;
  --color-nav: #f07c5a;
  --color-task: #f79572;
  --color-bg-main: linear-gradient(#ed6647, #f89a77);
  --color-bg-header: linear-gradient(#f89a77, #f48565);
}
/* #f07c5a */

html[data-attribute="pink"] {
  --color-font: #fff;
  --color-nav: #b595ba;
  --color-task: #77627a;
  --color-bg-main: linear-gradient(#b595ba, #f3c7fa);
  --color-bg-header: linear-gradient(#dab4e0, #b595ba);
}

html[data-attribute="yellow"] {
  --color-font: #3b391e;
  --color-nav: #bab45f;
  --color-task: #807c41;
  --color-bg-main: linear-gradient(#bab45f, #faf27f);
  --color-bg-header: linear-gradient(#e0d972, #bab45f);
}

html[data-attribute="blue"] {
  --color-font: #25313d;
  --color-nav: #7296ba;
  --color-task: #4e6780;
  --color-bg-main: linear-gradient(#7296ba, #89b5e0);
  --color-bg-header: linear-gradient(#98c9fa, #7296ba);
}

html[data-attribute="green"] {
  --color-font: #2e3d30;
  --color-nav: #8cba91;
  --color-task: #608064;
  --color-bg-main: linear-gradient(#8cba91, #a8e0af);
  --color-bg-header: linear-gradient(#bbfac3, #8cba91);
}

/* BASE ------------- */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  height: 100%;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 800;
  font-size: 62.5%;
  color: var(--color-font);
}

body {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

header {
  padding: 1rem;
  background: var(--color-bg-header);
  background-attachment: fixed;
  height: 100vh;

  display: grid;
  align-items: center;
  justify-items: center;

  position: relative;
}

main {
  padding: 1rem;
  background: var(--color-bg-main);
  background-attachment: fixed;
  height: 100vh;

  display: grid;
  grid-template-rows: max-content 1fr;
  align-items: center;
  justify-items: left;
  padding-left: 6rem;

  position: relative;
}

/* LEFT SIDE -------------  */
#pageTitle {
  font-size: 13rem;
}

.container {
  width: 48rem;
  max-width: 480px;
}

.time-wrapper,
.day-wrapper {
  display: grid;
  align-items: center;
  grid-gap: 1rem;
  margin-bottom: 1rem;

  font-size: 3rem;
}

.time-wrapper {
  grid-template-columns: max-content 1fr;
}

.day-wrapper {
  grid-template-columns: 1fr max-content;
}

.content-whitespace {
  width: 100%;
  height: 100%;
  background: var(--color-font);
}

/* RIGHT SIDE ------------- */
main {
  overflow: hidden;
}

.leaf {
  position: absolute;
  top: 3%;
  left: -9rem;
  width: 50rem;
  height: 90rem;
  background: url("leaf1.png");
  background-size: 90%;
  background-repeat: no-repeat;
  transform: rotate(-17deg);
}

.tasks-container {
  display: grid;
  width: 100%;
  transition: all 0.2s ease-in;
}

.taskAnimate {
  animation: slideTask 0.5s ease-in-out 0s forwards,
    slideInTask 0.5s ease-in-out 0.5s forwards;
}

@keyframes slideTask {
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}

@keyframes slideInTask {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.task {
  width: 25rem;
  padding: 1rem;
  padding-top: 3rem;
  margin-bottom: 6rem;
  background: var(--color-task);
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.55);
  outline: 3px solid transparent;

  position: relative;
  transition: all 0.2s ease-in;
}

.task:hover {
  transform: scale(1.1);
  box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.65);
  outline-offset: 2rem;
  outline: 3px solid var(--color-task);
}

.task h2 {
  font-size: 5rem;
  position: absolute;
  top: -2.5rem;
  left: 0;
}

.task p,
.task h3 {
  font-size: 1.6rem;
}

/* NAV ------------- */
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  display: grid;
  grid-template-columns: 1fr 1fr;
  z-index: 100;

  transform: translateX(100%);
  transition: all 1s ease-out;
}

.nav-content {
  background: rgba(255, 255, 255, 0.9);
  display: grid;
  grid-template-rows: 1f 1fr;
  padding: 3rem;
  justify-items: center;
}

.change-title,
.change-color {
  width: 80%;
}

.change-title {
  align-self: center;
}

label {
  display: block;
  color: var(--color-nav);
  font-size: 4rem;
}

input {
  display: inline-block;
  width: 50%;
  padding: 0.5rem 1rem;
  outline: none;
  background: var(--color-bg-header);

  border: none;
  font-family: inherit;
  font-size: 3rem;
  font-weight: 400;
  color: var(--color-font);

  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: all 0.2s ease-in;
}

input:focus,
select:focus {
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.35);
}

input::placeholder {
  font-family: inherit;
  font-size: 3rem;
  color: rgba(255, 255, 255, 0.6);
}

#submitTitle {
  display: inline-block;
  margin-left: 2rem;
  border: 0;
  background: transparent;
  font-size: 4rem;
  color: var(--color-nav);
  outline: none;
  transform: translateX(-50%);

  cursor: pointer;
}

#submitTitle:hover {
  animation: rotateme 0.5s linear forwards;
}

select {
  -webkit-appearance: none;

  display: block;
  width: 50%;
  background: var(--color-bg-header);
  padding: 0.5rem 1rem;
  font-size: 3rem;
  color: var(--color-font);
  border: none;
  border-radius: 0;
  outline: none;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}

.navIcon {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 7rem;
  z-index: 100;

  cursor: pointer;
}

.navIcon:hover {
  animation: rotateme 0.5s linear forwards;
}

@keyframes rotateme {
  0% {
    transform: translateY(0) translateX(-50%);
    opacity: 1;
  }
  33% {
    transform: translateY(2rem) translateX(-50%);
    opacity: 0;
  }
  66% {
    transform: translateY(-2rem) translateX(-50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0) translateX(-50%);
    opacity: 1;
  }
}

.slideIn {
  transform: translateX(0);
}

.close {
  position: absolute;
  top: 2rem;
  right: 2rem;
  color: var(--color-nav);
  font-size: 4rem;
  cursor: pointer;
  transform: translateX(-50%);
}

.close:hover {
  animation: rotateme 0.5s linear forwards;
}

/* MESSAGE ------------- */
.insMes {
  z-index: 2;
  text-align: right;
  justify-self: right;
  padding-right: 3rem;
}
.insp {
  margin-top: 7rem;
  font-size: 1.6rem;
}
.message {
  font-size: 3rem;
}

/* DAY CHANGE ------------- */
.nextDay {
  position: absolute;
  top: 50%;
  right: 20%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 1000000;
}

/* MEDIA QUERIES ------------- */
@media only screen and (max-width: 1000px) {
  html {
    font-size: 55%;
  }
}

@media only screen and (max-width: 900px) {
  body {
    display: grid;
    grid-template-columns: 1fr;
    width: 100vw;
  }
  main {
    grid-gap: 5rem;
  }
  .container {
    width: 95vw;
  }
  .leaf {
    transform: translateX(-60%);
    left: 55%;
    top: 10rem;
  }
  .task:nth-child(2) {
    transform: scale(1.1);
    box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.65);
    outline-offset: 2rem;
    outline: 3px solid var(--color-task);
  }
  .tasks-container {
    justify-items: center;
  }
  #pageTitle {
    font-size: 12rem;
  }
  .insMes {
    align-self: center;
  }
  .insp {
    margin-top: 1rem;
  }
  .nextDay {
    right: 0.5rem;
  }
  .nav {
    display: block;
  }
  .nav-invisible {
    display: none;
  }
  .nav-content {
    width: 100vw;
  }
}
